docs/docs/3rddoc/01_AIoT[[:space:]]Lighting.zip filter=lfs diff=lfs merge=lfs -text
docs/docs/3rddoc/01_AIoT[[:space:]]Lighting/01_AIoT[[:space:]]Lighting/V1.0方案资料/02_西门子AIoT[[:space:]]Lighting软硬件一体化解决方案V1.0_BD版_20251102.pptx filter=lfs diff=lfs merge=lfs -text
